body{
    background-color: white;
    
}




.Emrose{
    background-color: blue;
    color: red;
    font-size: 100px;
}
.Ralif{
    background-color: white;
    color: black;
    font-size: 50px;
}
.Ork{
    background-color: yellow;
    color: green;
    font-size: 25px;
}