.square {
    height: 50px;
    width: 50px;
    background-color: #555;
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
  }
  .rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }
  .circle{
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }
  .row{
    background-color: yellow;

  }

  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  


  .roof{
    background-color: white;
  }

  .triangle{
    width: 0;
    height: 0;
    border-left: 40vw solid transparent;
    border-right: 40vw solid transparent;
    border-bottom: 10vw solid red;
    margin: auto;
  }


  .window{
    height: 160px;
    width: 100px;
    background-color: skyblue;
  }

  .door{
    height: 200px;
    width: 150px;
    background-color: brown;
  }

  .empty{
    height: 70px;
  }
